
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
.footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container {
    max-width: 387px;
    padding: 0 15px;
    width: auto;
}
.abyor{float:left;margin-right:40px;width:160px;height:43px;}
.starqle{float:left;width:157px;height:43px;}

